<!-- Primary Page Layout
================================================== -->

<div class="slider" id="home">

   <div class="container">
<! SLIDESHOW >
    <div class="flexslider">
      <ul class="slides">
          <li>
            <div class="sixteen columns slide1">
              <p class="center"><img class="scale-with-grid" src="images/logo.svg" height="500px" width="500px" alt="logo big"></p>
              <h1 class="white">OWL FLAT ONE PAGE PORTFOLIO</h1>
              <h3 class="white"><span>RESPONSIVE WEBSITE TEMPLATE</span></h3>
             </div>
          </li>
         <li>
            <div class="sixteen columns slide2">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">OPTIMIZED FOR MOBIL DEVICES</h3>
            </div>
            </li>
          <li>
            <div class="sixteen columns slide3">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">YOU CAN ADD IMAGES AND TEXT TO SLIDER</h3>
            </div>
            </li>
            <li>
            <div class="sixteen columns slide4">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>MODERN FLAT ICONS</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide5">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>RESPONSIVE PRICE TABLES</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide6">
              <p class="center"><img class="scale-with-grid" src="images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>SKILL BARS</span></h3>
             </div>
            </li> 
       </ul>
     </div>
   </div>
</div>

<div class="service" id="service">
    <div class="container">
    
        <div class="sixteen columns">
        
         <h2 class="white">Our Service</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/flatdesign.svg">
         <h4 class="white">Responsive Design</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/customizable.svg">
         <h4 class="white">Easy Customizable</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/portfolio.svg">
         <h4 class="white">Porfolio</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha omega">
         <img class="center circle scale-with-grid" id="rotate" src="./images/icons/mail.svg">
         <h4 class="white">PHP Mail Form</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
        
        </div>
        
    </div>
</div>



<div class="team" id="team">
    <div class="container">
    
        <div class="sixteen columns">
        
         <h2>Meet Our Team</h2>
         <hr>
         <p class="center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
         
         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Founder / CEO</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>
         
         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Web Designer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>
         
         <div class="four columns alpha member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Designer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>
         
         <div class="four columns alpha omega member">
         <img id="zoom" class="center scale-with-grid" src="./images/team/team.jpg">
         <h4>Jane Doe</h4>
         <h6>Developer</h6>
         <p class="center">Lorem ipsum dolor sit  sadipscing elitr, sed diam.</p>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/facebook.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/google.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/twitter.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/behance.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/linkedin.svg" alt=""></a>
         <a class="social" href="" alt=""><img class="scale-with-grid" src="./images/icons/social/dribbble.svg" alt=""></a>
         </div>
         
         </div>
        
    </div>
</div>



<div class="skills" id="skills">
    <div class="container">
    
        <div class="sixteen columns">
        
         <h2 class="white">Our Skills</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
         
         
         <ul id="skillbar">
			    <h4>HTML</h4>
	            <li><span class="skillbar html"></span></li>
	            <h4>CSS</h4>
	            <li><span class="skillbar css"></span></li>
	            <h4>JAVASCRIPT</h4>
	            <li><span class="skillbar java"></span></li>
	            <h4>PHP</h4>
	            <li><span class="skillbar php"></span></li>
	            <h4>PHOTOSHOP/ILLUSTRATOR</h4>
	            <li><span class="skillbar psd"></span></li>
            </ul>
         
         </div>
        
    </div>
</div>



<div id="portfolio">

<div class="container">

   <div class="sixteen columns">

        <h2>Our Portfolio</h2>
         <hr>
         <p class="center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
            
   <!-- Category Filter -->

	<ul class="filter group"> 
		<li class="current all"><a href="#">All</a></li> 
		<li class="webdesign"><a href="#">Webdesign</a></li> 
		<li class="branding"><a href="#">Branding</a></li> 
		<li class="printdesign"><a href="#">Printdesign</a></li>  
	</ul> 

   </div>
   
<div class="sixteen columns">
	<!-- Portfolio Items -->
	<ul class="portfolio"> 
		<li  data-id="id-1" data-type="webdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li> 
		<li  data-id="id-2" data-type="webdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-3" data-type="webdesign branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-4" data-type="webdesign branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-5" data-type="branding">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
		<li data-id="id-6" data-type="printdesign">
			<a href="images/portfolio/1.png" rel="prettyPhoto[portfolio]"><img src="images/portfolio/1.png" class="scale-with-grid hov" alt="" /></a>
		</li>
	</ul>
   </div>
  </div>
</div>



<div id="price">

<div class="container">

   <div class="sixteen columns intro">

        <h2 class="white">Price</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
         
   </div>
         
          <div class="one-third column pricetable">
         <table class="pritab">
           <tr>
            <th>Basic Price</th>
           </tr>
           <tr>
            <td class="cell price">15 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>5 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>20 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>5</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>5</strong> Domains</td>
           </tr>
           <tr>
            <td class="order"><a href=""  class="btnprice">Order now</a></td>
           </tr>
         </table>         
  </div>
  
  <div class="one-third column pricetable feature">
         <table class="pritab">
           <tr>
            <th>Feature Price</th>
           </tr>
           <tr>
            <td class="cell price">25 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>15 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>50 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>15</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>15</strong> Domains</td>
           </tr>
           <tr>
            <td class="order-feat"><a href=""  class="btnpricefeat">Order now</a></td>
           </tr>
         </table>
  </div>
  
  <div class="one-third column pricetable">
         <table class="pritab">
           <tr>
            <th>Expert Price</th>
           </tr>
           <tr>
            <td class="cell price">40 EUR<p>per month</p></td>
           </tr>
           <tr>
            <td class="cell"><strong>20 GB</strong> Disk Space</td>
           </tr>
           <tr>
            <td class="cell"><strong>60 GB</strong> Bandwith</td>
           </tr>
           <tr>
            <td class="cell"><strong>20</strong> Databases</td>
           </tr>
           <tr>
            <td class="cell"><strong>Daily</strong> Backup</td>
           </tr>
           <tr>
            <td class="cell"><strong>20</strong> Domains</td>
           </tr>
           <tr>
            <td class="order"><a href=""  class="btnprice">Order now</a></td>
           </tr>
         </table>
  </div>
          

  </div>
</div>

<!-- GOOGLE MAP -->

<div id="contact">
  <iframe class="border" width="100%" height="400" src="http://maps.google.de/maps?hl=de&q=Mannheim+(maro maro RESPONSIVE ONE PAGE HTML5 THEME)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" alt"">
  </iframe>
</div>

<!-- GOOGLE MAP END -->

